<!DOCTYPE html>
<html>
<div class='landingpage'>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1> <a href="/"> <%= title %> </a> </h1>
    </header>

    <%- body -%>

    <footer>
      <p> Copyright Blurb. </p>
    </footer>
  </body>
</div>
</html>
